<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <!-- dependency files -->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

    <!-- Our application files -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/calculatorController.js"></script>
  </head>
  <body>
    <div ng-controller="CalculatorController">
      <input type="text" ng-model="operand1" placeholder="Value 1" />
      <input type="text" ng-model="operand2" placeholder="Value 2" />

      <input type="text" ng-model="result" readonly="readonly" />
    </div>
  </body>
</html>